# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env/config
.env
.env.*
*.log

# Data, DB, Volumes
data/
postgres/
*.sqlite*

# VSCode/IDE
.vscode/
.idea/
*.iml

# System/Mac
.DS_Store
Thumbs.db

# Docker
*.pid
